<div class="container">

      <div class="row">

        <div class="col-sm-8">

          <div class="">
          <img class="" style="height: 300px; width: 100%; display: block;" src="<%= @blog.thumbnail%>"
          alt="Card image cap">
            <h2 class="title"><%=@blog.title%></h2>
            <p class="">by <a href="#"><%= @blog.user.name%></a></p>
            <p class="">by <%= @blog.text%></a></p>
          </div><!-- /.@blog-post -->

        </div><!-- /.@blog-main -->
        </div>
        </div>