# <head>
#     <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
# </head>
# <div class="row sml-sidebar .hidden-sm-down	">
#     <div class="hidden-sm-down">
#         <div class="list-group">
#             <a href="#" class="list-group-item">
#                     <i class="fa fa-comment-o lm-noti"></i> Notifications
#                 </a>
#             <a href="#" class="list-group-item">
#                     <i class="fa fa-search lm-search"></i> Search
#                 </a>
#             <a href="#" class="list-group-item">
#                     <i class="fa fa-user lm-user"></i> User
#                 </a>
#             <a href="#" class="list-group-item">
#                     <i class="fa fa-folder-open-o lm-album"></i> Album <span class="badge">14</span>
#                 </a>
#             <a href="#" class="list-group-item">
#                     <i class="fa fa-bar-chart-o lm-storage"></i> Storage <span class="badge">14</span>
#                 </a>
#             <a href="#" class="list-group-item">
#                     <i class="fa fa-power-off lm-log-out"></i> Log out
#                 </a>
#         </div>
#     </div>
# </div>